.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  transform: scale(0.9); /* Scale down the entire container */

}

.about-card-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.about-card {
  min-height: auto;
  max-height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 64, 64);
  padding: 30px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 80%;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.about-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.about-card-text {
  padding-top: 3%;
  font-size: 1em;
  text-align: center;
}

.about-card-body {
  position: relative; /* Ensure that pseudo-elements are positioned correctly */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Adjust border radius as needed */
  background: transparent; /* Transparent background */
  z-index: 1; /* Position above the pseudo-element */
}

.about-card-body::before {
  position: absolute;
  top: -1px; /* Adjust based on border width */
  left: -1px; /* Adjust based on border width */
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background: linear-gradient(135deg, #23c4f8, #275efe); /* Gradient border */
  z-index: -1;
  pointer-events: none;
}

.about-card-body-inner {
  position: relative;
  background: transparent;
  padding: 20px;
  border-radius: inherit;
}
