/* Base styles for the entire dashboard component */
.dashboard-container {
  max-width: 1400px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #0d0e0e;
  transform: scale(0.9); 
  transform-origin: center;
}

.dashboard-container .left-content {
  background-color: #0d0e0e;
}

.dashboard-container .username {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
}

.dashboard-container .bottom {
  margin-top: 40px;
  display: flex;
  flex: 1;
}

.dashboard-container .right-nav {
  overflow: hidden;
  position: relative;
  max-width: fit-content;
  flex: 1;
  padding: 20px;
  border: 1px solid #0d0e0e;
  border-radius: 50px;
  background-color: #010101;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.dashboard-container .right-nav h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-container .amount.positive {
  color: green;
}

.dashboard-container .amount.negative {
  color: red;
}

.dashboard-container .right-nav ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-container .right-nav li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.dashboard-container .right-nav li:hover {
  color: #4caf50;
}

.dashboard-container .side_button {
  border-radius: 20px;
  padding: 0.8em 1.8em;
  width: 100%;
  min-width: 100%;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #4caf50;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dashboard-container .side_button.active {
  background-color: #45a049;
}

.dashboard-container .dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dashboard-container .content {
  display: flex;
  flex-direction: column;
}

.dashboard-container .customer-id,
.dashboard-container .balance{
  margin-top: 10px;
  font-size: 16px;
}
.dashboard-container .time {
  margin-top: 10px;
  font-size: 26px;
}
.dashboard-container .balance-label {
  font-weight: bold;
}

.dashboard-container .loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard-container .loader ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.dashboard-container .loader ul li {
  list-style-type: none;
  margin: 0 5px;
}

.dashboard-container .loader span {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.dashboard-container .dashboard-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.dashboard-container .side_menu {
  display: flex;
  flex-direction: column;
}

.dashboard-container .side_button {
  border-radius: 20px;
  padding: 0.8em 1.8em;
  width: 100%;
  min-width: 100%;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #f0f2f5;
  margin: 10px;
  display: inline-block;
  background-color: #063269;
}

.dashboard-container .side_button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
  background: #7295ca;
  border: #7295ca;
}

.dashboard-container .side_button:hover::before {
  width: 105%;
}

.dashboard-container .side_button.active {
  background-color: #7295ca;
  color: #0d0e0e;
}

.dashboard-container .side_button:hover {
  background: #7295ca;
  border: #7295ca;
  color: #0d0e0e;
  transition: background-color 0.5s, color 0.5s;
}

.dashboard-container .dashboard-card {
  margin-top: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 100%;
  max-height: 350px;
  min-height: 300px;
  border-radius: 24px;
  line-height: 1.6;
  background-color: #0d0e0e;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  background-color: #010101;
  overflow: hidden;
  background: linear-gradient(744deg, #5b42f3 30%, #c4a6da, #c4a6da, #00ddeb, #ba85df);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-container .content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-container .content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-container .content svg {
  width: 48px;
  height: 48px;
  background-color: #063269;
}

.dashboard-container .dashboard-card:hover {
  transform: translate(0px, -16px);
}

.dashboard-container .dashboard-card:hover .content::before {
  rotate: 2deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.dashboard-container .dashboard-card:hover .content::after {
  rotate: -2deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.dashboard-container .main-content {
  width: 68%;
  min-width: auto;
  height: 750px;
  min-height: 50%;
  margin-left: 10px;
  margin-right: 10px;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container .loader {
  width: 200px;
  height: 140px;
  position: relative;
  margin: 0 auto;
}

.dashboard-container .loader:before,
.dashboard-container .loader:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 6px solid #fff;
  animation: loader 2s ease-in-out infinite;
  transform-origin: center center;
}

.dashboard-container .loader:after {
  animation-delay: 1s;
}

@keyframes loader {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(60px);
  }
}



/* Loader animation */
.loader {
  width: 200px;
  height: 140px;
  position: relative;
  margin: 0 auto;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px rgba(39, 94, 254, 0.28);
  transform: rotate(-6deg);
}

.loader:before {
  left: 4px;
}

.loader:after {
  right: 4px;
  transform: rotate(6deg);
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px rgba(39, 94, 254, 0.28);
  background-image: linear-gradient(135deg, #23c4f8, #275efe);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: rgba(255, 255, 255, 0.36);
  opacity: 0;
  transform: rotateY(-6deg);
  animation: 3s ease infinite;
}

.loader div ul li:nth-child(2) {
  color: rgba(255, 255, 255, 0.52);
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  color: rgba(255, 255, 255, 0.52);
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  color: rgba(255, 255, 255, 0.52);
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  color: rgba(255, 255, 255, 0.52);
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  opacity: 1;
}

.loader div ul li:last-child {
  opacity: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: #6c7486;
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    transform: rotateY(0deg);
  }
}


