/* src/css/EmploymentForm.css */
.employment-form {
    max-width: 823px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:  #5b42f3 ;
    margin-top: 100px;
}

.employment-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.employment-button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    background-color: #53cae4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.employment-button.active {
    border-color: #007bff;
    background-color: #e7f0ff;
}

.employment-questions {
    margin-bottom: 20px;
}

.employment-question {
    margin-bottom: 10px;
}

.employment-question label {
    display: block;
    margin-bottom: 5px;
}

.employment-question input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.employment-salary {
    display: flex;
    gap: 10px;
}

.employment-salary input[type="radio"] {
    margin-right: 5px;
}

.employment-citizenship label {
    display: block;
    margin-bottom: 5px;
}

.employment-submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
