/* src/css/EmploymentForm.css */
.employment-form {
    width: 650px;
    color: black;
    padding: 20px;
    margin-bottom: 25px;
    background: whitesmoke;
    border-radius: 40px;
    border: 7px solid black;
  }

  .employment-border {
    transform: scale(0.9); /* Scale down the entire container */
    transform-origin: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .employment-container {
    min-height:100vh;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    background: linear-gradient(744deg, #5b42f3, #af40ff 80%, #00ddeb);
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .employment-buttons {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 80%;
  }

  .employment-button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 14px;
    cursor: pointer;
    width: 100%;
    padding: 12.5px 30px;
    background-color: #af40ff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  .employment-button.active {
    border-color: #007bff;
    background-color: #e7f0ff;
  }

  .employment-questions {
    margin-bottom: 10px;
  }

  .employment-question {
    margin-bottom: 20px;
  }

  .employment-question label {
    display: block;
    margin-bottom: 5px;
  }

  .employment-question input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .employment-salary {
    display: flex;
    gap: 10px;
  }

  .employment-salary input[type="radio"] {
    margin-right: 5px;
  }

  .employment-citizenship label {
    display: block;
    margin-bottom: 5px;
  }

  .employment-submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
