.appContainer{
    background-color: #0D0E0E;
    max-width: 100%;
    overflow: 'hidden';

}
.html{
        overflow-x: 'hidden';
}
.card{
    color: white;
    padding: 20px;
}
.card-body {
    position: relative; /* Ensure that pseudo-elements are positioned correctly */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    background: transparent; /* Transparent background */
    z-index: 1; /* Position above the pseudo-element */
}
.card-body::before {
    content: '';
    position: absolute;
    top: -1px; /* Adjust based on border width */
    left: -1px; /* Adjust based on border width */
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background: linear-gradient(135deg, #23c4f8, #275efe); /* Gradient border */
    z-index: -1;
    pointer-events: none;
}

.card-body-inner {
    position: relative;
    background: transparent;
    padding: 20px;
    border-radius: inherit;

}
