.tooltip-container {
    --background: grey;
    --support-size: 60px;
    --tooltip-radius: 10px 10px 10px 0;
    --outline-border-color: #000000;
    position: relative;
    height: 50px;
    width: 110px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    border: solid 3px var(--background);
    display: flex; /* Center content horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 50px;
    transform: scale(0.8); /* Scale down the entire container */
    transform-origin: center;
  }

  .tooltip-container::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s linear;
    outline: 3px solid transparent;
    background: var(--background);
  }

  .tooltip-container:hover {
    color: white;
  }

  .tooltip-container:hover:before {
    width: 99%;
    height: 99%;
    border-radius: 50px;

    outline-color: var(--outline-border-color);
  }

  .tooltip {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    transform: translateX(-5%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background);
    border-radius: var(--tooltip-radius);
    color: white;

  }

  .tooltip::after {
    content: "Hello!👋";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    text-align: center;
    justify-content: center;
    border-radius: var(--tooltip-radius);
  }

  .tooltip::before {
    position: absolute;
    content: "";

    border-style: solid;
    border-width: 2px;

    transform: translateX(-50%);
    border-color: transparent var(--background) var(--background) transparent;

  }

  .tooltip-container:hover .tooltip::after {
    animation: hidden 0.5s 1.5s linear forwards;
  }

  .tooltip-container:hover .tooltip {
    top: calc(-100% - var(--support-size) * 0.5);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: shake 0.5s 1s linear;
    transition: all 0.3s 0.5s;
  }

  @keyframes hidden {
    50% {
      transform: translate(-50%, -50%) scale(0.5);
      background-color: #ffffff;

    }
    100% {
      transform: translate(0, -50%) scale(0.5);
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    40%,
    80% {
      transform: translateX(-10%);
    }
    20%,
    60%,
    100% {
      transform: translateX(0);
    }
  }

  .st2 {
    fill: #f9c8a7;
  }

  .st3 {
    fill: #ff9e97;
  }

  .st6 {
    fill: #d72e48;
  }

  .st7 {
    fill: #ffffff;
  }

  .st8 {
    fill: #ff8d7f;
  }

  .st10 {
    fill: #3d3d3b;
  }

  .st11 {
    fill: #1ca0f5;
  }

  .st12 {
    opacity: 0.2;
  }

  .st14 {
    fill: #b7b7b7;
  }

  .st15 {
    fill: #ead9cf;
  }

  #Calque_1 {
    display: inline-block;
    height: var(--support-size);
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
    left: 0;
    top: 0;
  }

  #left_x5F_arm_2_ {
    transform: translateX(2px);
  }

  .tooltip-container:hover #Calque_1 {
    top: calc(var(--support-size) * -1);
    opacity: 1;
  }

  .support-container {
    border-radius:50px;
    width: 120px;
   height: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    justify-content: center;
  }
